.balloon3 {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: #e91e63;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon3:before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e91e63;
  z-index: 0;
}
